body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('/static/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e5d1a7;
    font-family: 'Georgia', serif;
}
h1{ text-align: center;
font-size: 50px;
}
p{text-align: justify;
font-size: 30px;}

.civ-navbar {
    background: rgba(15, 20, 25, 0.65);
    border-bottom: 2px solid #c4a64b;
    padding: 10px 0;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-logo {
    font-family: 'Cinzel', serif;
    color: #c4a64b !important;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-menu a {
    color: #e5d1a7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #FF7F50;
    text-shadow: 0 0 8px #c4a64b;
}


.civ-register-form {
    background: rgba(15, 20, 25, 0.85);
    border: 2px solid #c4a64b;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    margin: 80px auto;
    text-align: center;
}


.civ-input {
    width: 100%;
    padding: 16px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #e5d1a7;
    color: #f1e4c0;
    font-size: 16px;
    box-sizing: border-box;
}

.civ-input:focus {
    outline: none;
    border-color: #c4a64b;
    box-shadow: 0 0 10px rgba(196, 166, 75, 0.5);
}


.civ-button {
    background: #c4a64b;
    color: #000000;
    border: none;
    padding: 10px 30px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}