<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://googleapis.com" rel="stylesheet">
</head>
<body>
    <div class="overlay">
        <header>
            <nav class="civ-navbar">
                <div class="nav-container">
                    <a href="/" class="nav-logo">CivGuideHub</a>
                    <ul class="nav-menu">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/guides">Гайды</a></li>
                        <li><a href="/challenges">Челленджи</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="/profile">{{ current_user.name }}</a></li>
                        {% else %}
                            <li><a href="/login">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
