{% extends "base.html" %}

{% block content %}
    <div class="civ-main">
        <h1>Главная страница</h1>
        <p>Добро пожаловать!<br>
           Дорогой пользователь, на этом ресурсе ты найдешь множество гайдов по civilization VI, подходящих как для новичков, так и для продвинутых игроков.
            Также здесь есть челленджи и прочие статьи по циве.
            Если тоже хочешь выкладывать свои гайды, то переходи на страницу регистрации/авторизации.
            Удачи!
        </p>
    </div>
{% endblock %}